body {
    margin: 0;
    padding: 0;
    height: 100vh;
    
    background-image: url('./pizza.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    
}


.content {
   background-color: rgba(0, 0, 0, 0.9);
    height: 100px;
    width: 100%;
}